<header class="header">
            <nav class="nav">
                <ul class ="nav-list">
                    <a href="/" class="<%=path==='/shop' ? 'active' : '' %>">
                        <li class="nav_item">Shop</li>
                    </a>
                    <a href="/products" class="<%= path=== '/products' ? 'active' : '' %> ">
                        <li class="nav_item">Products</li>
                    </a>
                    <a href="/cart" class="<%= path === '/cart' ? 'active' : '' %> ">
                        <li class="nav_item">Cart</li>
                    </a>
                    <a href='/orders' class="<%= path === '/orders' ? 'active' : '' %> ">
                        <li class="nav_item">Orders</li>
                    </a>
                    <a href="/add-product" class="<%= path=== '/add-product' ? 'active' : '' %> ">
                        <li class="nav_item">Add Product</li>
                    </a>
                    <a href="/admin-product" class="<%= path=== '/admin-product' ? 'active' : '' %> ">
                        <li class="nav_item">Admin</li>
                    </a>
                </ul>
                <div class="search_box">
                    <input type="search" placeholder="Search">
                </div>
                <div class="dropbox"></div>
                <ul id="mobile_nav" class ="hide">
                    <a href="/"  path="blabla" >
                        <li class="mobile_nav_item">Shop</li>
                    </a>
                    <a href="/products" path="/blabla" >
                        <li class="mobile_nav_item">Products</li>
                    </a>
                    <a href="/cart" path="blabla">
                        <li class="mobile_nav_item">Cart</li>
                    </a>
                    <a href='/orders' path="blabla">
                        <li class="mobile_nav_item">Orders</li>
                    </a>
                    <a href="/add-product" path="blabla">
                        <li class="mobile_nav_item" >Add Product</li>
                    </a>
                    <a href="/admin-product" path= '/bla'>
                        <li class="mobile_nav_item">Admin Product</li>
                    </a>
                </ul>
                <div class="crusal">
                    <span class="dash"></span>
                    <span class="dash"></span>
                    <span class="dash"></span>
                    <span class="dash"></span>
                </div>
                <div class="mode-gutter">
                    <div class="mode_btn"></div>
                </div>
                
            </nav>

