
<%- include('./inc/head.ejs') %> 
<link rel="stylesheet" href="/detail.css">
</head>
<body>
    <%- include('./inc/navigation.ejs')%>
    </header>
        <div class="detail_container">
            <div class="grid">
                <div class="card_image">
                    <img src=<%=product.imgUrl %> alt="<%=product.title %> ">
                </div>
                <article class="card_header">
                    <h3 class="product_title"><%=product.title %> </h3>
                    <div class="card_content">
                        <p class="product_description"><%=product.description %> </p>
                        <p class="product_price">
                            $<%= product.price %> 
                        </p>
                    </div>
                    <div class="card_action">
                        <button class="btn" id="<%=product.id%> ">Add To Cart</button>
                    </div>
                </article>
            </div>
            <p class="detail_par"><%=product.detail%> </p>
        </div>
    <%-include('./inc/footer.ejs') %> 


