
<%- include('./inc/head.ejs') %> 
<link rel="stylesheet" href="/detail.css">
</head>
<body>
    <%- include('./inc/navigation.ejs')%>
    </header>
        <div class="detail_container">
            <div class="grid">
                <div class="card_image">
                    <img src=<%=product.imgUrl %> alt="<%=product.title %> ">
                </div>
                <article class="card_header">
                    <h3 class="product_title"><%=product.title %> </h3>
                    <div class="card_content">
                        <p class="product_description"><%=product.description %> </p>
                        <p class="product_price">
                            $<%= product.price %> 
                        </p>
                    </div>
                    <form  action="/cart" method="POST" class="card_action">
                        <button class="btn" type="submit">Add To Cart</button>
                        <input type="hidden" name ="cartItem" value="<%=product._id%> "/>
                    </form>
                </article>
            </div>
            <p class="detail_par"><%=product.detail%> </p>
            <%if(product.images.length>0) {%>
            <div class="extraImageContainer">
                <%product.images.forEach(ele=>{%>
                    <img src="<%=ele%>" alt="<%=product.title%>"/>
                <% }) %> 
            </div>
        <% } %> 
        </div>
        <script>
            let imgContainer = document.querySelector('.extraImageContainer');
            if(imgContainer){
                let img = imgContainer.querySelectorAll('img');
                imgContainer.addEventListener('click',(e)=>{
                    img.forEach(ele=>{
                        ele.className = '';
                    })
                    if(e.target.nodeName === 'IMG'){
                        e.target.className = 'selectedImage';
                        let eleToBeUpdated = document.querySelector('.card_image');
                        eleToBeUpdated.innerHTML =`<img src=${e.target.src} alt=${e.target.alt}/>`;
                    }
                
                })
            }
        </script>
    <%-include('./inc/footer.ejs') %> 


