<%- include('./inc/head.ejs') %>
<link rel="stylesheet" href="/products.css">
</head>
<body>
    <%- include('./inc/navigation.ejs')%>
    </header>
        <div class="grid">
        <% if(products.length>0) {%> 
            <% products.forEach(p=>{%> 
                <article class="card_header">
                    <h3 class="product_title"><%=p.title %> </h3>
                    <div class="card_image">
                        <img src=<%=p.imgUrl %> alt="<%=p.title %> ">
                    </div>
                    <div class="card_content">
                        <h4 class="product_price">
                            <%= p.price %> 
                        </h4>
                        <p class="product_description"><%=p.description %> </p>
                    </div>
                    <div class="card_action">
                        <form  action="/cart" method="POST">
                            <button class="btn" type="submit">Add To Cart</button>
                            <input type="hidden" name ="cartItem" value="<%=p.id%> "/>
                        </form>
                        <a class="btn_detail" href="/products/<%=p.id%> ">Detail</a>
                    </div>
                </article>
            <% }) %> 
        <%}else{%>
            <h1 class="no_product">Product Not Found</h1>
        <% } %> 
    </div>
    <%-include('./inc/footer.ejs') %> 
