<%- include('./inc/head.ejs') %> 
<link rel="stylesheet" href="/shop.css">
</head>
<body>
    <%- include('./inc/navigation.ejs')%>
    </header>
    <div class="grid">
        <% if(products.length>0) {%> 
            <% products.forEach(p=>{%> 
                <article class="card_header">
                    <h3 class="product_title"><%=p.prodName %> </h3>
                    <div class="card_image">
                        <img src="https://eadn-wc05-1926589.nxedge.io/cdn/pub/media/catalog/product/cache/2264c9e38777ed202d5c3170a063a3cf/c/a/canv1118_1.jpg" alt="Sony Pro">
                    </div>
                    <div class="card_content">
                        <h4 class="product_price">
                            <%= p.price %> 
                        </h4>
                        <p class="product_description"><%=p.desc %> </p>
                    </div>
                    <form  action="/cart" method="POST" class="card_action">
                        <button class="btn" type="submit">Add To Cart</button>
                        <input type="hidden" name ="cartItem" value="<%=p.id%> "/>
                    </form>
                </article>
            <% }) %> 
        <%}else{%>
            <h1 class="no_product">Product Not Found</h1>
        <% } %> 
    </div>
    <%-include('./inc/footer.ejs') %> 


